
body{
    background: black;
}
.wd-border{
    border-color: rgb(47,51,54);
    border-width: 1px;
    border-style: solid;
    max-width: 620px;
    /* height: 124px; */
}

.wd-search-bar{
    border-radius: 50px;
    width: 500px;
    height: 30px;
    border-style: solid;
    color: white;
    background-color: darkgray;
    padding-left: 16px;
    border-width: 1px;
}

.wd-search_input input[type='text']{
    display: inline-block;
    width: 500px;
    border-radius: 15px;
    height: 30px;
    text-indent: 30px;
    border: 1px solid ;
    background-color: darkgray;
}
.wd-search_input {
    margin-top: 10px;

}
.wd-search_input i{
    position: relative;
    left: 30px;
    top: 1px;
    color:#ffffff;
}

.wd-left-16{
    padding-left: 16px;
}
.wd-right-16{
    padding-right: 16px;
}

.wd-for-you{
    color: rgb(29,161,242);
    font-size: 15px;
    text-decoration: none;
}
.wd-nav-link
{
    display: inline;
    border-bottom: 2px solid rgb(29,161,242);
    padding-bottom:4px ;
    margin-right: 16px;
}

.wd-other-link{
    padding: 16px;
    color: rgb(110,118,125);
    font-size: 15px;
    text-decoration: none;
}

.wd-trending-topic{
    color: rgb(110,118,125);
    font-size: 13px;
}

.wd-trending-title{
    color: white;
}

.wd-trending-tweets{
    font-size: 13px;
    color: rgb(110,118,125);
}



.wd-new-york{
    color: white;
    font-size: 13px;
    padding-left: 16px;
}

.wd-covid-19{
    font-size: 13px;
    color: lightgray;
    padding-left: 16px;
}

.wd-covid-update{
    color: white;
    padding-left: 16px;
}

.wd-img1{
    border-radius: 25px;
    width: 98px;
    height: 98px;
    border: 1px solid;


}


.wd-border-thin {
    width: 500px;height: 30px;
}
.wd-border-solid {
    border-style: solid; }
.wd-border-black {
    background-color: black;
}

.wd-rounded-corners-all-around {
    border-radius: 50px;
}
.wd-fg-color-white {
    color: white; }
.wd-bg-color-dark-gray {
    background-color: darkgray; }

::placeholder{
    color: white;
}
.wd-border-offset{
    padding-left: 16px;
}

.wd-link-color{
    color: rgb(29,161,242);
}
.wd-other-link-color{
    color: rgb(110,118,125);
}
.wd-padding-fat{
    padding: 16px;
}
.wd-font-size{
    font-size: 15px;
}
.wd-topic-size{
    font-size: 13px;
}
.wd-topic-color{
    color: rgb(110,118,125);
}

.wd-white-color{
    color: white;
}
.wd-light-gray-color{
    color: lightgray;
}

.wd-padding-all-around-16{
    padding: 16px;
}

.wd-padding-right{
    padding-right: 16px;
}
.wd-float-right {
    float: right;
}

.wd-0-padding p{
    margin: 0px;
}


.wd-main-panel{
    max-width: 560px;
}
.wd-max-height{
    max-height: max-content;
}

.wd-mainWrapper{
    width: 100%;
    padding-top: 12px;
    /* padding-bottom: 12px; */
}
.wd-col{
    float: left;
    width: 70%;
}
.wd-col-right{
    float: right;
    width: 116px;

}
.wd-clear:after {
    content: "";
    display: table;
    clear: both;
}
.wd-dot{
    /* background-color: bisque; */
    text-align: right;
    color: #fff;
    margin-top: -12px;
}
.wd-span-dot{
    color: #ffffff;
    text-align: right;
    vertical-align: top;
    height: 21px;
    line-height: 21px;
}

